/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
    Login Styles
*/
.nf_Login_outer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#login-contents-container {
    /*position: absolute;*/
    top: 130px;
    left: 225px;
    bottom: 0;
    right: 0;
    background: #fff url(../images/ms-login.jpg) no-repeat;
    padding-top: 100px;
    padding-left: 100px;
    width: 428px;
    height: 566px;
    border-radius: 20px; /* ??????????,????????? */
}
#login-contents-container2 {
    /*position: absolute;*/
    top: 180px;
    left: 1070px;
    bottom: 0;
    right: 0;
    padding-top: 100px;
    padding-left: 100px;
}

#login-message-title {
    font-size: 18px;
    color: #294c58;
    margin-bottom: 16px;
    display: flex;
    align-items: end;
}

#login-message {
    font-size: 11px;
}

.login-title {
    font-size: 34px;
    font-weight: bold;
    font-family: Roboto Slab;
    margin-bottom: 32px;
    color: #1c1d1e;
}

#login-user-links-container {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 100px;
    padding-left: 100px;
    z-index: 1300;
    width: 412px;
}

#login-user-links {
    /*float: right;*/
    /*margin-right: 345px;*/
}

/*
    Login
*/

body.login-body input, body.login-body textarea {
    width: 412px;
    height: 45px;
}

div.login-container {
    width: 412px;
}

/*
    Login Progress
*/

#login-progress-label {
    float: right;
    font-weight: bold;
    line-height: 16px;
}

#login-progress-spinner {
    float: right;
    width: 16px;
    height: 16px;
    background-color: transparent;
    margin-left: 3px;
}