/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*
    Styles for the custom processor ui shell.
*/

#shell-dialog {
    display: none;
    z-index: 1201;
    position: absolute;
    top: 60% !important;
    left: 17.5% !important;
    bottom: 20px;
    right: 20px;
    width: 82.5%;
    height: 40%;
    box-shadow: none;
}

#shell-container {
    background: #fff;
    padding: 20px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

#shell-close-container {
    position: absolute;
    width: 10%;
    top: 20px;
    right: 0px;
}

#shell-undock-button {
    display: none;
    float: left;
    margin: 0px 5px 0px;
    color: #004849;
    font-size: 16px;
}

#shell-close-button {
    float: left;
    color: #004849;
    font-size: 16px;
    margin-left: 10px;
    position: relative;
    right: -50px;
    z-index: 1;
}

#shell {
    position: absolute;
    top: 19px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
}
.dialog-content .setting{
    display:block;
}
/*??*/
.show-processor-details,.show-action-details,.view-reporting-task,.show-action-details,.show-connection-details,.view-parameter-context,.view-flow-analysis-rule,.view-parameter-provider{
    background-image: url(../images/nfDetail.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
}
/*?????*/
.go-to{
    background-image: url(../images/nfGoTo.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
}
/*????*/
.show-processor-status-history,.show-connection-status-history,.show-process-group-status-history{
    background-image: url(../images/nfHistory.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
}
/*????*/
.has-comments {
    background-image: url(../images/nfRemark.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
}
#fetch-parameters-dialog .dialog-status-bar-bulletins {
    background-image: url(../images/nfHint.png);
    background-size: 28px 28px;
    background-repeat: no-repeat;
}
/*??*/
.has-errors{
    background-image: url(../images/nfHint.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
}
/*????*/
.flow-analysis-rule-usage,.reporting-task-usage,.parameter-provider-usage {
    pointer-events: none;
    display: none;
}
/*????*/
.fetch-parameter-provider{
    background-image: url(../images/nfParameter.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
}